* {
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.df {
  display: flex;
}

.dn,
[v-cloak] {
  display: none;
}

.dib {
  display: inline-block;
}

.w-0 {
  width: 0;
}

.wp-1 {
  width: 1px;
}

.w-100 {
  width: 100%;
}

.h-0 {
  height: 0;
}

.h-100 {
  height: 100%;
}

.hwp20 {
  height: 20px;
  width: 20px;
}

.bl {
  border-left: 1px solid black;
}

.bl4 {
  border-left: 4px solid black;
}

.bt {
  border-top: 1px solid black;
}

.bt4 {
  border-top: 4px solid black;
}

.br {
  border-right: 1px solid black;
}

.bb {
  border-bottom: 1px solid black;
}

.wp-150 {
  width: 150px;
}

.wp-200 {
  width: 200px;
}

.wp-400 {
  width: 400px;
}

.hp-100 {
  height: 100px;
}

.hp-200 {
  height: 200px;
}

.hp-300 {
  height: 300px;
}

.fdr {
  flex-direction: row;
}

.fdc {
  flex-direction: column;
}

.f1 {
  flex: 1;
}

.fww {
  flex-wrap: wrap;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: end;
}

.aic {
  align-items: center;
}

.tac {
  text-align: center;
}

.fwb {
  font-weight: bold;
}

.p-4,
.pl-4 {
  padding-left: 4px;
}

.p-4,
.pr-4 {
  padding-right: 4px;
}

.p-4,
.pt-4 {
  padding-top: 4px;
}

.p-4,
.pb-4 {
  padding-bottom: 4px;
}

.p-2 {
  padding: 2px;
}

.oa {
  overflow: auto;
}

.oya {
  overflow-y: auto;
}

.oyh {
  overflow-y: hidden;
}

.ccr {
  cursor: col-resize;
}

.crr {
  cursor: row-resize;
}

.cp {
  cursor: pointer;
}

.cn {
  cursor: none;
}

.m-4,
.mt-4 {
  margin-top: 4px;
}

.m-4,
.mx-4,
.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.m-4,
.mx-4,
.ml-4 {
  margin-left: 4px;
}

.mr-10 {
  margin-right: 10px;
}

.m-4,
.mb-4 {
  margin-bottom: 4px;
}

.rn {
  resize: none;
}

.ust,
.ust * {
  user-select: text;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.wsn {
  white-space: nowrap;
}

.wsn::-webkit-input-placeholder {
  white-space: pre;
}

.pen {
  pointer-events: none;
}

pre {
  margin: 0;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #e0e0e0;
}

.toe {
  text-overflow: ellipsis;
}

.oh {
  overflow: hidden;
}

.cr {
  color: red;
}

.wsp {
  white-space: pre;
}

a.disabled {
  color: #adadad;
  pointer-events: none;
}

.vat {
  vertical-align: top;
}

div.new-updates {
  border-color: lightgreen;
  box-shadow: 0 0 20px 2px lightgreen;
}

div.updating,
div.downloading {
  z-index: 1;
  border-color: chocolate;
  box-shadow: 0 0 20px 2px chocolate;
}

div.detailing {
  z-index: 2;
  border-color: magenta;
  box-shadow: 0 0 20px 2px magenta;
}

.tdn {
  text-decoration: none;
}

div.chapter-active {
  border-color: greenyellow;
  box-shadow: 0 0 20px 1px greenyellow;
  background-color: greenyellow;
  z-index: 1;
}

.summary-shrunk {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  top: 4px;
  bottom: 4px;
  width: 100%;
}

#novel-reader,
#novel-reader * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  user-select: text;
}

#novel-reader {
  padding: 30px 50px;
  outline: none;
}

.cover-image img {
  position: relative;
  width: 100px;
  aspect-ratio: 3/4;
  object-fit: contain;
  object-position: top;
}

.cover-image img[alt]:after {
  display: flex;
  flex-flow: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  content: attr(alt);
}

.zi-1 {
  z-index: 1;
}

.goto-box {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  background-color: #fff9;
}

.l-0 {
  left: 0;
}

.t-0 {
  top: 0;
}

.r-6 {
  right: 6px;
}

div.bgct {
  background-color: transparent;
}

.c-invert {
  color: #fff;
}

.c-invert.hover:hover {
  color: #000;
}

#btn-back,
#btn-forward {
  width: 40px;
  align-items: center;
}

#btn-back {
  padding-left: 10px;
}

#btn-forward {
  padding-right: 10px;
}
