<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Novel Downloader v3</title>
  <link rel="stylesheet" href="./css/index.css" />
  <script src="./js/vue.min.js"></script>
  <script src="./js/index.js" defer></script>
</head>

<body>
  <div id="main" class="df h-100 w-100 fdc" v-cloak>
    <div class="df f1 w-100">
      <link v-if="darkMode" rel="stylesheet" href="./css/dark.css" />
      <div class="fdc br wp-200" :class="{ 'df': showSideBar, 'dn': !showSideBar }">
        <div class="dib bb tac fwb p-4">ND_v3</div>
        <div class="df fdc">
          <div v-for="(t, i) in tabs" @click="setActiveTab(i)" class="df fdr bb cp p-4">
            <div class="f1"><a href="#">{{ t }}</a></div>
            <div v-if="activeTab == i">-></div>
          </div>
        </div>
      </div>
      <div class="df fdc f1">
        <div class="df bb fwb p-4">
          <div class="f1">{{ tabs[activeTab] }} -</div>
          <div>
            <a href="#" class="mx-4" @click="toggleDarkMode()">SwitchTo{{ darkMode ? 'LightMode' : 'DarkMode' }}</a>
            <a v-if="tabs[activeTab] != 'Rules'" class="ml-4" href="#" @click="toggleRenderer()">{{ showRenderer ?
              'Hide'
              : 'Show' }} Renderer</a>
          </div>
        </div>
        <div class="df f1 fdr">

          <!-- tabs code start -->

          <div class="df fdc f1 oya pr">
            <div class="df fdc h-100 w-100 pa">
              <!-- library part start -->

              <div v-if="isTabActive('Library')" class="df fdc f1 w-100">
                <div class="df f1 fdc pr">
                  <div class="df f1 fdc pa w-100 h-100 oya p-4">
                    <div v-for="n in getNovels" class="m-4 bt bb bl br df fdc p-4"
                      :class="{'detailing': isDetailingMode(n), 'new-updates': n.ChapterCount > n.DownloadedCount}">
                      <div class="f1">
                        {{ n.Title }} ({{ n.DownloadedCount }}/{{ n.ChapterCount }})
                      </div>
                      <div class="bt mt-4 pt-4" :class="{'dn': !n.Summary}">
                        {{ n.Summary }}
                      </div>
                      <div class="bt mt-4 pt-4 df fdr jce">
                        <a href="#" class="mx-4">Read</a>
                        <a href="#" class="mx-4" :class="{'disabled': iframe_working}"
                          @click="viewNovelDetails(n)">Details</a>
                        <a href="#" class="mx-4"
                          :class="{'disabled': iframe_working || isDetailingMode(n)}">UpdateInfo</a>
                        <a href="#" class="mx-4"
                          :class="{'disabled': iframe_working || isDetailingMode(n), 'dn': n.ChapterCount <= n.DownloadedCount}"
                          @click="downloadUpdateNovel(n)">Download</a>
                        <a href="#" class="ml-4" :class="{'disabled': iframe_working || isDetailingMode(n)}"
                          @click="deleteNovel($event,n)">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div v-if="getNovels.length == 0" class="df fdr h-100 w-100 jcc aic">
                    !~~~ {{loading_novels ?
                    'Loading Novels' :
                    (
                    this.novels.length > 0 ?
                    'No novels for the filters applied' :
                    'No novels added yet'
                    )
                    }} ~~~!
                  </div>
                </div>
                <div v-if="detailing_novel" class="df fdc hp-300">
                  <div class="df fdr bt p-4">
                    <div class="f1">Details</div>
                    <a href="#" @click="saveCloseNovelDetails()" class="mx-4">Save&Close</a>
                    <a href="#" @click="discardNovelDetailsChanges()" class="ml-4">Discard</a>
                  </div>
                  <div class="f1 bt pr">
                    <div class="df fdc pa w-100 h-100 oya">
                      <table class="w-100 p-4">
                        <tr>
                          <td class="wp-1">URL</td>
                          <td>
                            <input type="text" v-model="detailing_novel.URL" class="w-100">
                          </td>
                        </tr>
                        <tr>
                          <td class="wp-1">CoverURL</td>
                          <td>
                            <input type="text" v-model="detailing_novel.CoverURL" class="w-100">
                          </td>
                        </tr>
                        <tr>
                          <td class="wp-1">Title</td>
                          <td>
                            <input type="text" v-model="detailing_novel.Title" class="w-100">
                          </td>
                        </tr>
                        <tr>
                          <td class="wp-1 vat pt-4">Summary</td>
                          <td>
                            <textarea v-model="detailing_novel.Summary" class="w-100 hp-100 rn"></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td class="wp-1 vat pt-4">CheckUpdates</td>
                          <td>
                            <input type="checkbox" v-model="detailing_novel.CheckUpdates" class="hwp20" />
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="df fdr p-4 bt">
                  <div class="f1">
                    <a href="#">GridLayout</a>
                    <a href="#" @click="toggleNewOnly()">{{ showNewOnly ? 'NewOnlyOff' : 'NewOnlyOn'}}</a>
                    <a href="#" @click="toggleCheckUpdatedOnly()">{{ showCheckUpdatedOnly ? 'CheckUpdatedOnlyOff' :
                      'CheckUpdatedOnlyOn'}}</a>
                  </div>
                  <div>
                    <a href="#" :class="{'disabled': iframe_working || detailing_novel}">UpdateAllInfo</a>
                    <a href="#">ImportNovel</a>
                  </div>
                </div>
                <div class="df bt fdr aic p-4">
                  <div class="mr-4">URL :</div>
                  <input class="f1 mr-4" type="text" v-model="add_novel_url"
                    placeholder="Enter the target URL of Novel-page here">
                  <a href="#" :class="{'disabled': iframe_working}" @click="addNewNovel()">Load URL</a>
                </div>
              </div>

              <!-- library part end -->

              <!-- rules page start -->

              <div v-if="isTabActive('Rules')" class="df fdc f1 w-100">
                <div v-for="r in rules" class="df fdr p-4 m-4 bt bl br bb">
                  <div class="df fdr f1">
                    <div class="pr-4">{{ r.rule_name }} -></div>
                    <div class="df fdr f1 mr-10 pr">
                      <div class="f1 pa w-100 h-100 wsn toe oh">
                        {{ r.url_regex }}
                      </div>
                    </div>
                  </div>
                  <div>
                    <a href="#" :class="{'disabled': iframe_working}" @click="editRule(r)">Edit</a>
                    <a href="#" :class="{'disabled': iframe_working}" @click="deleteRule($event, r)">Delete</a>
                  </div>
                </div>
                <div v-if="rules.length == 0" class="df f1 fdr jcc aic">
                  {{ loading_rules ? '!~~~ Loading Rules ~~~!' : 'No rules added yet' }}
                </div>
              </div>

              <!-- rules page end -->

              <!-- testing tab start -->

              <div v-if="isTabActive('Tester')" class="df fdc f1 w-100">
                <div class="f1 oya pr">
                  <div class="pa w-100 h-100">
                    <div v-if="isTabActive('Tester')" class="df f1 fdc p-4 oya">
                      <div class="df fdr aic mb-4">
                        <label class="mr-4">Rule Name :</label>
                        <input type="text" class="p-2 f1" v-model="test_rule_name" placeholder="Enter rule name here" />
                      </div>
                      <div class="df fdr aic mb-4">
                        <label class="mr-4">URL Regex :</label>
                        <input type="text" class="p-2 f1" v-model="test_url_regex"
                          placeholder="Regex for the URL to match the rule to" />
                      </div>
                      <div class="df fdr aic mb-4">
                        <label class="mr-4">Test URL&nbsp; :</label>
                        <input type="text" class="p-2 f1" v-model="test_url" placeholder="URL for testing" />
                      </div>
                      <div class="df fdr mb-4">
                        <label class="mr-4 mt-4">Page Type :</label>
                        <textarea class="p-2 f1 hp-200 rn wsn" v-model="test_pagetype_code"
                          placeholder="JavaScript code to determine is the page is TOC or Chapter page&#10;&#10;Return type should be number(int) -&#10;&#10;-2 for Manual-Captcha&#10;-1 for Auto-Captcha&#10; 0 for TOC&#10;&#10;Returning anything else will be treated as UNKNOWN"
                          spellcheck="false"></textarea>
                      </div>
                      <div class="df fdr mb-4">
                        <label class="mr-4 mt-4">TOCScript :</label>
                        <textarea class="p-2 f1 hp-200 rn wsn" v-model="test_toc_code"
                          placeholder="JavaScript code to get content from TOC page&#10;&#10;Return type should be JSON & must contain the following JSON nodes -&#10;&#10;{&#10;    'CoverURL': ''              // may be empty&#10;    'Title': 'novel name here',&#10;    'Summary': '',              // may be empty&#10;    'ChapterCount': 1,          // chapter count here&#10;    'ChapterURLs': [            // list of chapter-URLs&#10;        '', // must contain atleast the first chapter URL&#10;        '',&#10;    ],&#10;}&#10;&#10;This object will be passed as 'ndata' to the Ch-Script"
                          spellcheck="false"></textarea>
                      </div>
                      <div class="df fdr mb-4">
                        <label class="mr-4 mt-4">Ch-Script :</label>
                        <textarea class="p-2 f1 hp-200 rn wsn" v-model="test_chapter_code"
                          placeholder="JavaScript code to get content from Chapter page.&#10;Can be one or multiple chapters at once.&#10;&#10;Return type should be JSON in the following format -&#10;&#10;[&#10;    {&#10;        'title': '',&#10;        'content': '',&#10;        'nextURL': ''&#10;    },&#10;]&#10;&#10;'nextURL' will be used in case it is non-empty"
                          spellcheck="false"></textarea>
                      </div>
                      <div class="df fdr jce fwb fww">
                        <a href="#" class="mx-4" :class="{'disabled': iframe_working}"
                          @click="loadTestURL()">LoadURL</a>
                        <a href="#" class="mx-4" :class="{'disabled': iframe_working}"
                          @click="runTestTOCScript()">RunTOCScript</a>
                        <a href="#" class="mx-4" :class="{'disabled': iframe_working}"
                          @click="runTestChapterScript()">RunChapterScript</a>
                        <a href="#" class="mx-4" :class="{'disabled': iframe_working}"
                          @click="resetTestFields()">ResetFields</a>
                        <a href="#" class="mx-4" :class="{'disabled': iframe_working}"
                          @click="saveTestRule()">SaveRule</a>
                        <a v-if="test_rule_guid.length > 0" href="#" class="ml-4" :class="{'disabled': iframe_working}"
                          @click="goBackFromEditRule()">Back</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="df fdc">
                  <div class="df fdr p-4 bt fwb">
                    <div class="f1">Test Results -</div>
                    <a href="#" @click="toggleTestResults">{{ showTestResults ? 'Collapse' : 'Expand' }}</a>
                  </div>
                  <div class="hp-300 pr bt" :class="{'dib': showTestResults, 'dn': !showTestResults}">
                    <div class="df fdc w-100 h-100">
                      <div class="bb p-4">
                        Page Type : {{ test_result_page_type }}
                      </div>
                      <div class="f1 pr">
                        <div class="pa p-4 w-100 h-100 oya ust" v-html="test_result_content"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- testing tab end -->
            </div>
          </div>

          <!-- tabs code end -->

          <div class="slide bl w-0" :class="{'df': showRenderer, 'dn': !showRenderer}" slider="1">
            &nbsp;
          </div>

          <!-- renderer code start -->

          <div class="wp-400 fdc" :class="{'df': showRenderer, 'dn': !showRenderer}" slider-targ="1">
            <div class="df fdr p-4 bb">
              <div class="fwb f1">Renderer</div>
              <a href="#" @click="openRendererDevTools()">OpenDevTools</a>
            </div>
            <div class="pr f1">
              <webview id="mainWebView" :src="iframe_url" class="pa w-100 h-100" :class="{ 'pen': iframe_working }">
              </webview>
            </div>
            <div class="df fdr p-4 bt">
              <div class="f1">Console</div>
              <a v-if="showConsole" href="#" class="mr-4 pr-4" @click="clearWebConsole()">Clear</a>
              <a href="#" @click="toggleWebConsole()">{{ showConsole ? 'Hide' : 'Show' }}</a>
            </div>
            <div class="bt hp-300 pr" :class="{ 'dn': !showConsole }">
              <textarea id="web-console" class="w-100 h-100 rn wsp p-4" readonly></textarea>
            </div>
          </div>

          <!-- renderer code end -->
        </div>
      </div>
    </div>
    <div class="df fdr p-4 bt">
      <div class="fwb wsn">Status :</div>
      <div class="wsn pl-4 toe oh">{{ status }}</div>
    </div>
  </div>
</body>

</html>